{% extends 'base.html' %}
{% load static %}

{% block title %}
Pesanan Sumber Daya
{% endblock title %}


{% block content %}

<div style="height: 40px;"></div>
<h2 style="text-align: center;">Detail Pesanan Sumber Daya</h2>
<div style="height: 20px;"></div>

<div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Nomor transaksi</th>
                {% for row in table %}
                <td>TOR{{ row.nomor }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Petugas</th>
                {% for row in table %}
                <td>{{ row.nama }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Tanggal</th>
                {% for row in table %}
                <td>{{ row.tanggal }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Supplier</th>
                {% for row in table %}
                <td>{{ row.nama_organisasi }}</td>
                {% endfor %}
            </tr>
        </tbody>

    </table>
</div>

<h4 class="mb-3 mt-5" style="margin-left: 12%;">Daftar Pesanan Item:</h4>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="row">No. Urut</th>
                <th scope="row">Item</th>
                <th scope="row">Harga Satuan</th>
                <th scope="row">Jumlah Item</th>
            </tr>
        </thead>
        <tbody>
            {% for row in daftar_item %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ row.nama }}</td>
                <td>Rp. {{ row.harga_satuan }}</td>
                <td>{{ row.jumlah_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6 class="mb-5 mt-5" style="margin-left: 12%;"><b>Total Harga:</b> {% for row in table %} Rp. {{ row.total_harga }} {% endfor %}</h6>

<div style="text-align: center;">
    <a type="button" href="/pesanan/" class="btn btn-primary btn-lg">Kembali</a>
</div>

{% endblock content %}