{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pesanan Sumber Daya
{% endblock title %}

{% block content %}
<div style="height: 40px;"></div>
  <h2 style="text-align: center;">Pesanan Sumber Daya</h2>
  <div style="text-align: center;">
    {% if role_admin_satgas %}
    <a type="button" href="/createPesanan" class="btn btn-primary btn-lg">+ Tambah Pesanan</a>
    {% endif %}
  </div>
  <div style="height: 20px;"></div>
  
<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="row">No. Transaksi</th>
        <th scope="row">Petugas Satgas</th>
        <th scope="row">Tanggal</th>
        <th scope="row">Total Berat</th>
        <th scope="row">Total Item</th>
        <th scope="row">Total Harga</th>
        <th scope="row">Status</th>
        <th scope="row">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if table %} 
        {% for row in table %}
        <tr>
          <td>TOR{{ row.no_pesanan }}</td>
          <td>{{ row.nama }}</td>
          <td>{{ row.tanggal }}</td>
          <td>{{ row.total_berat }}</td>
          <td>{{ row.total_item }}</td>
          <td>Rp. {{ row.total_harga }}</td>
          <td>{{ row.kode_status_pesanan }}</td>

          
          <td style="padding-bottom: 2%; padding-top: 1%;">
            {% if role_admin_satgas and row.kode_status_pesanan == "REQ-SUP" %}
            <a href="{% url 'updatePesananSD' row.nomor %}" row.nomor type="button" class="btn btn-outline-warning"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a>
            <a href="{% url 'deletePesananSD' row.nomor %}" row.nomor type="button" class="btn btn-outline-danger"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a>

            {% elif role_supplier and row.kode_status_pesanan == "REQ-SUP" %}
            <a href="{% url 'rejectPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-danger" style="margin-bottom: 3%;">Reject</a>
            <a href="{% url 'processPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-warning">Process</a>

            {% elif role_supplier and row.kode_status_pesanan == "PRO-SUP" %}
            <a href="{% url 'selesaiMasalahPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-danger" style="margin-bottom: 3%;">Selesai dengan masalah</a>
            <a href="{% url 'selesaiPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-success">Selesai</a>

            {% endif %}

            <a href="{% url 'detailPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-primary" style="margin-bottom: 3%;">Detail</a>
            <a href="{% url 'riwayatPesananSD' row.nomor %}" row.nomor type="button" class="btn btn-primary" style="margin-bottom: 3%;">Riwayat Status</a>
          </td>
        </tr>
        {% endfor%}

      {% else %} 
      <h3 style="text-align: center">Anda belum melakukan pemesanan sumber daya.</h3>

      {% endif %}
    </tbody>
  </table>
</div>

{% endblock content %}