{% extends 'base.html' %}
{% load static %}

{% block title %}
    Fasilitas Kesehatan
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Fasilitas Kesehatan</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
    
    <div style="height: 40px;"></div>
    <div style="text-align: center;">
        {% if role_admin_satgas %}
        <a type="button" href="/Faskes/CreateFaskes" class="btn btn-primary btn-lg">+ Add Faskes</a>
        {% endif %}
        {% if role_admin_satgas or role_petugas_faskes %}
        <a type="button" href="/stokFaskes" class="btn btn-primary btn-lg">Lihat Stok Faskes</a>
        {% endif %}
    </div>
    <div style="height: 20px;"></div>
  
  {% if role_admin_satgas or role_supplier %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
          <th scope="row">Kode Faskes</th>
          <th scope="row">Lokasi</th>
          <th scope="row">Petugas Faskes</th>
          <th scope="row">Tipe Faskes</th>
          {% if role_admin_satgas %}
          <th scope="row">Edit</th>
          <th scope="row">Delete</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for row in table %}
      <tr>
        <td>{{ row.kode_faskes_nasional }}</td>
        <td>{{ row.lokasi }}</td>
        <td>{{ row.nama }}</td>
        <td>{{ row.nama_tipe }}</td>
        {% if role_admin_satgas %}
        <td><a href="/updateFaskes/{{row.kode_faskes_nasional}}" type="button" class="btn btn-outline-warning"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        <td><a href="/deleteFaskes/{{row.kode_faskes_nasional}}" type="button" class="btn btn-outline-danger"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock content %}
