{% extends 'base.html' %}
{% load static %}

{% block title %}
    Batch Pengiriman
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Batch Pengiriman</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
    {% if role_admin_satgas %}
    <div style="height: 40px;"></div>
    <div style="height: 20px;"></div>
    {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
          <th scope="row">No. Transaksi</th>
          <th scope="row">Petugas Faskes</th>
          <th scope="row">Faskes</th>
          <th scope="row">Total Berat (kg)</th>
          <th scope="row">Status Permohonan</th>
          <th scope="row">Status Batch</th>
          {% if role_admin_satgas %}
          <th scope="row">Action</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for row in table %}
      <tr>
        <td>{{ row.no_transaksi_sumber_daya }}</td>
        <td>{{ row.nama }}</td>
        <td>{{ row.kode_faskes_nasional }}</td>
        <td>{{ row.total_berat }}</td>
        <td>{{ row.kode_sp }}</td>
        <td>{{ row.kode_status_batch_pengiriman }}</td>
        
        {% if role_admin_satgas %}

        {% if row.kode_sp == "PRO" %}
        <td>
          <a href="/createBatchPengiriman/{{row.no_transaksi_sumber_daya}}" type="button" class="btn btn-warning">Buat Batch</a>
        {% endif %}

        {% if row.kode_sp == "FIN"%}
        <td>
          <a href="/detailBatchPengiriman/{{row.no_transaksi_sumber_daya}}" type="button" class="btn btn-warning">Detail</a>
        {% endif %}

        {% if row.kode_sp == "MAS"%}
        <td>
          <a href="/detailBatchPengiriman/{{row.no_transaksi_sumber_daya}}" type="button" class="btn btn-warning">Detail</a>
        {% endif %}
        

        {% endif %}
        
        </td>
        
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
