{% extends 'base.html' %}
{% load static %}

{% block title %}
   Lokasi
{% endblock title %}


{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">FORM TAMBAH LOKASI</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/Lokasi/CreateLokasi/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            <label class="label" for="id_lokasi">ID Lokasi:</label>
            <select class="form-control" readonly="readonly"  name="id_lokasi" id="id_lokasi" >
              {% for row in id_lokasi %}
              <option selected value="{{row.id_lokasi}}">{{row.id_lokasi}}</option>
              {% endfor %}
            </select>

            {{form.as_p}}
            
            <br><br>
            <input type="submit" value="Simpan" name="tombol" class="btn btn-primary btn-block">

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#id_lokasi").change(function(){
      var id = $("#id_lokasi").val();
      console.log(id);
  
      $.ajax({
        url: '/getLokasi/' + id,
        success: function(table){
          $("#lokasi").empty();
          $("#lokasi").append("<label class='label' for='lokasi'>Lokasi:</label>" +
          "<textarea class='form-control' type='text' rows='3' placeholder='" + table[0][0] +"' aria-label='Disabled input example' disabled></textarea>");
        }
      })
    })
  
    
  </script>

{% endblock content %}
