{% extends 'base.html' %}
{% load static %}

{% block title %}
Lokasi
{% endblock title %}


{% block content %}
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Lokasi</h2>
<div style="height: 20px;"></div>

<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
  {% if role_admin_satgas %}
  <div style="height: 40px;"></div>
  <div style="text-align: center;">
    <a type="button" href="/Lokasi/CreateLokasi" class="btn btn-primary btn-lg">+ Add Lokasi</a>
  </div>
  <div style="height: 20px;"></div>
  
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="row">Id</th>
        <th scope="row">Provinsi</th>
        <th scope="row">Kab/Kota</th>
        <th scope="row">Kecamatan</th>
        <th scope="row">Kelurahan</th>
        <th scope="row">Jalan</th>
        {% if role_admin_satgas %}
        <th scope="row">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.provinsi }}</td>
        <td>{{ row.kabkot }}</td>
        <td>{{ row.kecamatan }}</td>
        <td>{{ row.kelurahan }}</td>
        <td>{{ row.jalan_no }}</td>
        {% if role_admin_satgas %}
        <td><a href="/updateLokasi/{{row.id}}" type="button" class="btn btn-outline-warning"><img style="width:25px;"
              src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock content %}