{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
  <header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/userlogin/img/wikisidia-header.png" class="d-block w-100"">
            {% for row in hasil %}
            <div class=""
              style="position: absolute;
              top: 0;
              background: rgba(255, 255, 255, 0.75);
              color: #4A64B8;
              width: 100%;
              padding: 20px;">
              <h3>Selamat Datang di <b>WikiSidia</b>, <b>{{row.nama}}!</b></h3>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </header>

    <div class="container justify-content-center">
        <div style="height: 40px;"></div>
        <h2 style="text-align: center;">Menu</h2>
        <div style="height: 40px;"></div>
        <div class="row">
            <div class="col">
                <div class="menu">
                    <div class="row row-cols-1 row-cols-md-3">
                        {% if role_admin_satgas or role_petugas_faskes %}
                        <div class="col mb-4">
                          <div class="card h-100">
                            <div class="container" style="width: 150px;">
                              <br>
                              <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/1556/1556324.png" class="card-img-top">
                              <br>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title" style="text-align: center;">Permohonan Sumber Daya</h5>
                              <a href="/PermohonanSumberDaya" class="btn btn-primary btn-block">Pilih</a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_supplier %}
                        <div class="col mb-4">
                          <div class="card h-100">
                            <div class="container" style="width: 150px;">
                              <br>
                              <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/2479/2479736.png" class="card-img-top">
                            </div>
                            <br>
                            <div class="card-body">
                              <h5 class="card-title" style="text-align: center;">Item Sumber Daya</h5>
                              <a href="/ItemSumberDaya" class="btn btn-primary btn-block">Pilih</a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_supplier %}
                        <div class="col mb-4">
                          <div class="card h-100">
                            <div class="container" style="width: 150px;">
                              <br>
                              <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/2728/2728577.png" class="card-img-top">
                            </div>
                            <br>
                            <div class="card-body">
                              <h5 class="card-title" style="text-align: center;">Pesanan Sumber Daya</h5>
                              <a href="/pesanan" class="btn btn-primary btn-block">Pilih</a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_petugas_distribusi %}
                        <div class="col mb-4">
                            <div class="card h-100">
                              <div class="container" style="width: 150px;">
                                <br>
                                <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/4305/4305318.png" class="card-img-top">
                              </div>
                              <br>
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">Kendaraan</h5>
                                <a href="/Kendaraan" class="btn btn-primary btn-block">Pilih</a>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_petugas_distribusi %}
                        <div class="col mb-4">
                            <div class="card h-100">
                              <div class="container" style="width: 150px;">
                                <br>
                                <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/2979/2979648.png" class="card-img-top">
                              </div>
                              <br>
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">Batch Pengiriman</h5>
                                <a href="/BatchPengiriman" class="btn btn-primary btn-block">Pilih</a>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas %}
                        <div class="col mb-4">
                            <div class="card h-100">
                              <div class="container" style="width: 150px;">
                                <br>
                                <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/854/854996.png" class="card-img-top">
                              </div>
                              <br>
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">Lokasi</h5>
                                <a href="/Lokasi" class="btn btn-primary btn-block">Pilih</a>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_supplier or role_petugas_faskes %}
                        <div class="col mb-4">
                            <div class="card h-100">
                              <div class="container" style="width: 150px;">
                                <br>
                                <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/4097/4097484.png" class="card-img-top">
                              </div>
                              <br>
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">Fasilitas Kesehatan</h5>
                                <a href="/Faskes" class="btn btn-primary btn-block">Pilih</a>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if role_admin_satgas or role_supplier %}
                        <div class="col mb-4">
                            <div class="card h-100">
                              <div class="container" style="width: 150px;">
                                <br>
                                <img style="width: 125px; display: block; margin-left: auto; margin-right: auto;" src="https://image.flaticon.com/icons/png/512/2562/2562388.png" class="card-img-top">
                              </div>
                              <br>
                              <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">Warehouse Satgas</h5>
                                <a href="/WarehouseSatgas" class="btn btn-primary btn-block">Pilih</a>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
