{% extends 'base.html' %}
{% load static %}

{% block title %}
    Warehouse Satgas
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Warehouse Satgas</h2>
<div style="height: 40px;"></div>
<div class="container">
  {% if message != "" %}
  <div class="card text-white bg-dark">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <div class="login">    
      <form  method="POST" action="/WarehouseSatgas/CreateWarehouseSatgas/">
        {% csrf_token %}
        {{form.as_p}}
        <div class="card" style="width: 400px;">
          <div class="card-body">

            <label class="label" for="provinsi">Provinsi:</label>
            <select class="form-control" name="provinsi" id="provinsi">
              <option disabled selected value> -- Pilih provinsi -- </option>
              {% for row in provinsi %}
              <option value="{{row.provinsi}}">{{row.provinsi}}</option>
              {% endfor %}
            </select>
            
            <br>
            <label class="label" for="id_lokasi">ID Lokasi:</label>
            <select class="form-control" name="id_lokasi" id="id_lokasi">
              <option disabled selected value> -- Pilih ID lokasi -- </option>
            </select>

            <br>
            <div class="lokasi" id="lokasi"></div>

            <br><br>
            <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#provinsi").change(function(){
    var provinsi = $("#provinsi").val();
    console.log('HII');
    console.log(provinsi);

    $.ajax({
      url: '/getIdLokasi/' + provinsi,
      success: function(table){

        $("#id_lokasi").empty();
        $("#id_lokasi").append("<option disabled selected value> -- Pilih ID lokasi -- </option>");

        for (i=0; i<table.length; i++) {
          console.log(table[i][0]);
          $("#id_lokasi").append("<option value='" + table[i][0] + "'>" + table[i][0] + "</option>");
          
          $("#id_lokasi").change(function(){
            var id_lokasi = $("#id_lokasi").val();

            $.ajax({
              url: '/getLokasiSatgas/' + id_lokasi,
              success: function(table_lokasi){
                $("#lokasi").empty();
                $("#lokasi").append("<label class='label' for='lokasi'>Lokasi:</label>" +
                "<textarea class='form-control' type='text' rows='3' placeholder='" + table_lokasi[0][1] +"' aria-label='Disabled input example' disabled></textarea>");
              }
              
            })
          })
          
        }
      }
    })
  })
</script>

{% endblock content %}
