{% extends 'base.html' %}
{% load static %}

{% block title %}
    Stok Faskes
{% endblock title %}


{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div style="height: 40px;"></div>
<h2 style="text-align: center;">Tambah Stok Fasilitas Kesehatan</h2>
<div style="height: 40px;"></div>
<div class="container">
    <h2 class="message">{{message}}</h2>

  <div class="row justify-content-center">
    <div class="login">    
      <form method="POST" action="/tambahStokFaskes/">
        {% csrf_token %}
        
        <div class="card" style="width: 450px;">
          <div class="card-body">
            

            <label class="label" for="kode_faskes">Kode Faskes:</label>
            <select class="form-control" name="kode_faskes" id="kode_faskes" >
              <option disabled selected value> -- Pilih Kode Faskes -- </option>
              {% for row in kode_faskes %}
              <option value="{{row.kode_faskes_nasional}}">{{row.kode_faskes_nasional}}</option>
              {% endfor %}
            </select>
            
            <br>
            <div class="tipe_faskes" id="tipe_faskes"></div>
            
            <br>
            <label class="label" for="kode_item">Kode Item Sumber Daya:</label>
            <select class="form-control" name="kode_item" id="kode_item">
              <option disabled selected value> -- Pilih Kode Item Sumber Daya -- </option>
              {% for row in kode_item %}
              <option value="{{row.kode}}">{{row.kode}}</option>
              {% endfor %}
            </select>

            <br>
            <div class="item_sumber_daya" id="item_sumber_daya"></div>

            {{form.as_p}}
            
            <br><br>
            <input type="submit" value="Save" name="tombol" class="btn btn-primary btn-block">

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#kode_faskes").change(function(){
    var tipe = $("#kode_faskes").val();
    
    $.ajax({
      url: '/getFaskes/' + tipe,
      success: function(table){
        $("#tipe_faskes").empty();
        $("#tipe_faskes").append("<label class='label' for='tipe_faskes'>Tipe Faskes:</label>" +
        "<input class='form-control' type='text' placeholder='" + table[0][0] +"' aria-label='Disabled input example' disabled>");
      }
    })
  })

  $("#kode_item").change(function(){
    var item = $("#kode_item").val();

    $.ajax({
      url: '/getItem/' + item,
      success: function(table){
        $("#item_sumber_daya").empty();
        $("#item_sumber_daya").append("<label class='label' for='item_sumber_daya'>Item Sumber Daya:</label>" +
        "<textarea class='form-control' type='text' rows='3' placeholder='" + table[0][0] +"' aria-label='Disabled input example' disabled></textarea>");
      }
    })
  })
</script>

{% endblock content %}
