{% extends 'base.html' %}
{% load static %}

{% block title %}
    Stok Faskes
{% endblock title %}

{% block content %}
<div style="height: 40px;"></div>
  <h2 style="text-align: center;">Stok Faskes</h2>
  <div style="text-align: center;">
      {% if role_admin_satgas %}
    <a type="button" href="/tambahStokFaskes" class="btn btn-primary btn-lg">+ Tambah Stok Faskes</a>
    {% endif %}
  </div>
  <div style="height: 20px;"></div>
  
<div class="container">
  {% if message != null %}
  <div class="card text-white bg-success">
    <div class="card-body">
      {{message}}
    </div>
  </div>
  {% endif %}
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="row">Kode Faskes</th>
        <th scope="row">Nama Faskes</th>
        <th scope="row">Item Sumber Daya</th>
        <th scope="row">Jumlah</th>
        {% if role_admin_satgas %}
        <th scope="row">Edit</th>
        <th scope="row">Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if table %} 
        {% for row in table %}
        <tr>
          <td>{{ row.kode_faskes }}</td>
          <td>{{ row.nama_tipe }}</td>
          <td>{{ row.nama }}</td>
          <td>{{ row.jumlah }}</td>

          {% if role_admin_satgas %}
            <td><a href="{% url 'update_stok_faskes' row.kode_faskes row.kode_item_sumber_daya%}" row.kode_faskes row.kode_item_sumber_daya type="button" class="btn btn-outline-warning"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/3597/3597088.png"></a></td>
            <td><a href="{% url 'delete_stok_faskes' row.kode_faskes row.kode_item_sumber_daya%}" row.kode_faskes row.kode_item_sumber_daya type="button" class="btn btn-outline-danger"><img style="width:25px;" src="https://image.flaticon.com/icons/png/512/1345/1345823.png"></a></td>
          {% endif %}
        </tr>
        {% endfor%}

      {% else %} 
      <h3 style="text-align: center">Tidak ada stok item di dalam faskes ini.</h3>

      {% endif %}
    </tbody>
  </table>
</div>

{% endblock content %}